@import "tailwindcss";

.write .ql-container .ql-editor {
  min-height: 400px;
}

@media screen and (min-width: 768px) {
  .yt-wrapper {
    overflow: hidden;
    max-width: 100%;
  }

  .yt-frame-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    width: 200%; /* 재생바 보이게 */
    left: -50%;
  }

  .yt-frame-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .yt-frame-container iframe {
    aspect-ratio: 16/9;
    pointer-events: none;
  }
}
